<?xml version="1.0"?>
<launch>

  <!-- Launch your Homework 3 node here -->
 <node pkg="homework3" type="homework3" name="homework3" output="screen" />

  <!-- Set up static TF transforms here -->
 <node pkg="tf2_ros" type="static_transform_publisher" name="footprint_to_lidar" args="1.75  0.2    2.1  0  0.0   0 base_footprint cepton" />


  <!-- Ouster LIDAR Driver 
  <include file="$(find avs_lecture_sensor_config)/launch/ouster_driver.launch" >
    <arg name="replay" value="true" />
    <arg name="name" value="ouster" />
  </include> -->


</launch>
